

	<!--header-area start-->
	<header class="header-area pb-22">
		<div class="desktop-header">
		
			<!--header-bottom-->
			<div class="sticker header-bottom" style="height: 75px;">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-2">
							<div class="logo">
								<a href="/"><img src="/images/razikLogo.png" alt="logo" /></a>
							</div>
						</div>
						<div class="col-lg-8">
							
						</div>
						<div class="col-lg-2">
							<div class="register-login pull-right">
								{{#if userlog}}
								<a href="/myprofile">{{userlog.name}}</a>
								<span>/</span>
								<a href="/logout">logout</a>
								{{else}}
								<a href="/login">Sign in</a>
								<!-- Example single danger button -->

								<span>/</span>
								<a href="/signup">Register</a>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--products-search-->
			<div class="products-search">
				<div class="container">
					<div class="row ">
						<div class="col-lg-3">
							<div class="collapse-menu mt-0">
								<ul>
									<li><a href="javascript:void(0);" class="vm-menu"><i class="fa fa-navicon"></i><span>All Departments</span></a>
										<ul class="vm-dropdown d-hidden">
											{{#each categoryView}}
											<li><a href="showCategoryPro/?id={{this.category}}"><i class="fa fa-laptop"></i>{{this.category}} <b class="caret"></b></a>
											</li>
											
											{{/each}}
											
											
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="search-box">
								{{!-- <select>
									<option>All Categories</option>
									<option>Computer</option>
									<option>TV & Smart box</option>
									<option>Camera & Photography</option>
									<option>Headphones</option>
								</select> --}}
								<form action="/search" method="post">
								<input type="text" name="content" placeholder="What do you need?"/>
								<button type="submit">Search</button>
								</form>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="mini-cart pull-right">
								<ul>
									<li><a href="/product-details" title="Track Your Order"><i class="ti-truck"></i></a></li>
									<li><a href="/wishlist"><i class="icon_heart_alt"></i><span id="wishlist-count">{{wishlistCount}}</span></a></li>
									<li><a href="/showCart" class="minicart-icon"><i class="icon_bag_alt"></i>{{total.total}}<span id="cart-count">{{cartCount}}</span></a>
										
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--mobile-header-->
		<div class="sticker mobile-header">
			<div class="container-fluid">
				<!--logo and cart-->
				<div class="row align-items-center">
					<div class="col-sm-4 col-6">
						<div class="logo">
								<a href="/"><img class="image-fluid" src="/images/razikLogo.png" alt="logo" /></a>
							</div>
					</div>
					<div class="col-sm-8 col-6">
						<div class="register-login pull-right">
								{{#if userlog}}
								<a href="/myprofile">{{userlog.name}}</a>
								<span>/</span>
								<a href="/logout">logout</a>
								{{else}}
								<a href="/login">Sign in</a>
								<!-- Example single danger button -->

								<span>/</span>
								<a href="/signup">Register</a>
								{{/if}}
							</div>
					</div>
				</div>
				<!--search-box-->
				<div class="row align-items-center">
					<div class="col-sm-12">
						<div class="search-box mt-sm-15">
								<form action="/search" method="post">
								<input type="text" name="content" placeholder="What do you need?"/>
								<button type="submit">Search</button>
								</form>
							
						</div>
					</div>
				</div>
				<!--site-menu-->
				<div class="row mt-sm-10">
					<div class="col-lg-12">
						<a href="#my-menu" class="mmenu-icon pull-left"><i class="fa fa-bars"></i></a>
											
						<!--category-->
						<div class="collapse-menu mt-0 pull-right">
							<ul>
								<li><a href="javascript:void(0);" class="vm-menu"><i class="fa fa-navicon"></i><span>All Departments</span></a>
									<ul class="vm-dropdown d-hidden">
											{{#each categoryView}}
											<li><a href="showCategoryPro/?id={{this.category}}"><i class="fa fa-laptop"></i>{{this.category}} <b class="caret"></b></a>
											</li>
											
											{{/each}}
											
											
										</ul>
								</li>
							</ul>
						</div>
						<div class="mini-cart pull-right">
								<ul>
									<li><a href="/product-details" title="Track Your Order"><i class="ti-truck"></i></a></li>
									<li><a href="/wishlist"><i class="icon_heart_alt"></i><span id="wishlist-count">{{wishlistCount}}</span></a></li>
									<li><a href="/showCart" class="minicart-icon"><i class="icon_bag_alt"></i>{{total.total}}<span id="cart-count">{{cartCount}}</span></a>
										
									</li>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumb-area start-->
		{{!-- <div class="breadcrumb-area mt-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumbs">
							<ul>
								<li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Smartphones & Tablets <i class="fa fa-angle-right"></i></a></li>
								<li>Shop Grid 05 Col</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> --}}
		<!--breadcrumb-area end-->
	</header>
	<!--header-area end-->	
	