<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images-admin/favicon.png" />
  {{!-- cropper link --}}
  <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
  <script src="https://unpkg.com/dropzone"></script>
  <script src="https://unpkg.com/cropperjs"></script>
</head>
<style>
  .imagediv {
    text-align: center;
    padding: 3%;
    border: thin solid black;
  }

  .inputImage {
    display: none;
  }

  .labelimage {
    cursor: pointer;
  }

  #imageName {
    color: green;
  }
</style>

<body>
  <div class="container-scroller">
    
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/admin">
            <img src="/images-admin/logo.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/admin">
            <img src="/images-admin/logo-mini.svg" alt="logo" />
          </a>
        </div>
      </div>
     <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">Have a nice day, <span class="text-black fw-bold">Admin</span></h1>
            <h3 class="welcome-sub-text">Your performance summary this week</h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown d-none d-lg-block">
            {{!-- <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false"> Select Category </a> --}}
            {{!-- <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
              <a class="dropdown-item py-3" >
                <p class="mb-0 font-weight-medium float-left">Select category</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Bootstrap Bundle </p>
                  <p class="fw-light small-text mb-0">This is a Bundle featuring 16 unique dashboards</p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Angular Bundle</p>
                  <p class="fw-light small-text mb-0">Everything you’ll ever need for your Angular projects</p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">VUE Bundle</p>
                  <p class="fw-light small-text mb-0">Bundle of 6 Premium Vue Admin Dashboard</p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">React Bundle</p>
                  <p class="fw-light small-text mb-0">Bundle of 8 Premium React Admin Dashboard</p>
                </div>
              </a>
            </div> --}}
          </li>
          <li class="nav-item d-none d-lg-block">
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li>
          <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="icon-mail icon-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                  <p class="fw-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                  <p class="fw-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                  <p class="fw-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown"> 
            <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-bell"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="/images-admin/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="/images-admin/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="/images-admin/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="/images-admin/faces/face8.jpg" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="/images-admin/faces/face8.jpg" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">Raziq</p>
                <p class="fw-light text-muted mb-0">raziqsur@gmail.com</p>
              </div>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
              <a href="/admin/logout" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary me-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary me-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="/images-admin/faces/face1.jpg" alt="image"><span class="online"></span>
                </div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images-admin/faces/face2.jpg" alt="image"><span class="offline"></span>
                </div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images-admin/faces/face3.jpg" alt="image"><span class="online"></span>
                </div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images-admin/faces/face4.jpg" alt="image"><span class="offline"></span>
                </div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images-admin/faces/face5.jpg" alt="image"><span class="online"></span>
                </div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images-admin/faces/face6.jpg" alt="image"><span class="online"></span>
                </div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
       <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item nav-category">UI Elements</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">For Product</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/product-manage">Product Managment</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/add-poduct">Add Product</a></li>
              </ul>
            </div>
          </li>
          {{!-- for User --}}
          {{!-- <li class="nav-item nav-category">UI Elements</li> --}}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">For User</span>
              <i class="menu-arrow"></i>    
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/view-users">User Managment</a></li>
                
              </ul>
            </div>
            
          </li>
          <li class="nav-item nav-category">Forms and Datas</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Form category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/category">category Managment</a></li>
              </ul>
            </div>
          </li>

          {{!-banner Managment --}}

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">For Banner</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/banner">Banner Managment</a></li>
              </ul>
            </div>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/SmallBanner">Small Banner Managment</a></li>
              </ul>
            </div>
          </li>

          {{!-- offer Category --}}
            <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">For Offers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/category-offer">Category Offer Managment</a></li>
              </ul>
            </div>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/product-offer">Product Offer Managment</a></li>
              </ul>
            </div>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/coupon-offer">Coupon Offer Managment</a></li>
              </ul>
            </div>
          </li>

          {{!-- order managment --}}

            <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">For Order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/order-Managment">Order Managment</a></li>
              </ul>
            </div>
          </li>

  <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">For Report</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/user-report">User Report Managment</a></li>
              </ul>
            </div>
             <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/stock-report">Stock Report Managment</a></li>
              </ul>
            </div>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/sales-report">Sales Report Managment</a></li>
              </ul>
            </div>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
              </ul>
            </div>
          </li> --}}
          {{!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Tables</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
              </ul>
            </div>
          </li> --}}
          {{!-- <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Icons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
              </ul>
            </div>
          </li> --}}
          {{!-- <li class="nav-item nav-category">pages</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/pages/samples/login.html"> Login </a></li>
              </ul>
            </div>
          </li> --}}
        
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                        aria-controls="overview" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab"
                        aria-selected="false">Audiences</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab"
                        aria-selected="false">Demographics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab"
                        aria-selected="false">More</a>
                    </li>
                  </ul>
                  <div>
                    <div class="btn-wrapper">
                      <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                      <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div>
                  </div>
                </div>
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                    <div class="row">
                      {{!-- center-main-section --}}
                      <div>
                        
                    
                      <div class="continer mt-5">
                        <div>
                          <h3 class="text-center mb-5">Small Banner</h3>
                        </div>
                        <div class="row">
                          
                         <div class="col-6">
                        <form action="/admin/small-banner" method="post" enctype="multipart/form-data" name="formBanner"
                          onsubmit="return bannerValidate2()"> 
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                            
                              <input class="form-control" name="banner" id="bannerInput1" type="file"
                                onchange="return BannerCropper1()"><br>
                              <img width="150" height="auto" alt="" src="/images/Screenshot from 2022-01-15 12-06-19.png"
                                id="Bannerpreview1" style="display: none;">

                              <p style="color: red;" id="err"></p>
                              <label>Banner Content</label>
                              <input class="form-control" name="description" id="des1" type="text"> <br>
                              <input class="form-control" name="description1" id="des1" type="text"> <br>

                              <p style="color: red;" id="err1"></p>

                              <button class="btn btn-success" id="confirm-btn1" type="submit">Submit</button>
                            </div>

                            <div class="col-6">
                              <div style="display: flex; justify-content: center; margin-top: 30px;">
                                <div id="image-box2" style="width: 600px; height: 300px; display: none;">
                                </div>
                                <div>

                                  <button class="btn btn-primary" type="button"
                                    style="display: none; margin-left: 20px;" id="crop-btn2">Crop</button>
                                </div>

                              </div>
                            </div>  
                          </div>

                        </form>
                        </div>

                         <div class="col-6">
                        <form action="/admin/small-banner1" method="post" enctype="multipart/form-data" name="formBanner"
                          onsubmit="return bannerValidate3()"> 
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                            
                              <input class="form-control" name="banner" id="bannerInput2" type="file"
                                onchange="return BannerCropper2()"><br>
                              <img width="150" height="auto" alt="" src="/images/Screenshot from 2022-01-15 12-06-19.png"
                                id="Bannerpreview2" style="display: none;">

                              <p style="color: red;" id="err"></p>
                              <label>Banner Content</label>
                              <input class="form-control" name="description" id="des1" type="text"> <br>
                              <input class="form-control" name="description1" id="des1" type="text"> <br>

                              <p style="color: red;" id="err1"></p>

                              <button class="btn btn-success" id="confirm-btn2" type="submit">Submit</button>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <div style="display: flex; justify-content: center; margin-top: 30px;">
                                <div id="image-box3" style="width: 600px; height: 300px; display: none;">
                                </div>
                                <div>

                                  <button class="btn btn-primary" type="button"
                                    style="display: none; margin-left: 20px;" id="crop-btn3">Crop</button>
                                </div>

                              </div>
                            </div>  
                          </div>

                        </form>
                        </div>
                      

                       <div class="col-6">
                        <form action="/admin/small-banner2" method="post" enctype="multipart/form-data" name="formBanner"
                          onsubmit="return bannerValidate4()"> 
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                            
                              <input class="form-control" name="banner" id="bannerInput3" type="file"
                                onchange="return BannerCropper3()"><br>
                              <img width="150" height="auto" alt="" src="/images/Screenshot from 2022-01-15 12-06-19.png"
                                id="Bannerpreview3" style="display: none;">

                              <p style="color: red;" id="err"></p>
                              <label>Banner Content</label>
                              <input class="form-control" name="description" id="des1" type="text"> <br>
                              <input class="form-control" name="description1" id="des1" type="text"> <br>
                              <p style="color: red;" id="err1"></p>

                              <button class="btn btn-success" id="confirm-btn3" type="submit">Submit</button>
                            </div>

                            <div class="col-6">
                              <div style="display: flex; justify-content: center; margin-top: 30px;">
                                <div id="image-box4" style="width: 600px; height: 300px; display: none;">
                                </div>
                                <div>

                                  <button class="btn btn-primary" type="button"
                                    style="display: none; margin-left: 20px;" id="crop-btn4">Crop</button>
                                </div>

                              </div>
                            </div>  
                          </div>

                        </form>
                        </div>

                         <div class="col-6">
                        <form action="/admin/small-banner3" method="post" enctype="multipart/form-data" name="formBanner"
                          onsubmit="return bannerValidate5()"> 
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                            
                              <input class="form-control" name="banner" id="bannerInput4" type="file"
                                onchange="return BannerCropper4()"><br>
                              <img width="150" height="auto" alt="" src="/images/Screenshot from 2022-01-15 12-06-19.png"
                                id="Bannerpreview4" style="display: none;">

                              <p style="color: red;" id="err"></p>
                              <label>Banner Content</label>
                              <input class="form-control" name="description" id="des1" type="text"> <br>
                              <input class="form-control" name="description1" id="des1" type="text"> <br>

                              <p style="color: red;" id="err1"></p>

                              <button class="btn btn-success" id="confirm-btn4" type="submit">Submit</button>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <div style="display: flex; justify-content: center; margin-top: 30px;">
                                <div id="image-box5" style="width: 600px; height: 300px; display: none;">
                                </div>
                                <div>

                                  <button class="btn btn-primary" type="button"
                                    style="display: none; margin-left: 20px;" id="crop-btn5">Crop</button>
                                </div>

                              </div>
                            </div>  
                          </div>

                        </form>
                        </div>
                        </div>

                        <div class="table-wrapper">
                          <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>Image.</th>
                                <th>Description 1</th>
                                <th>Description 2</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                            {{#each showSmallHeader}}
                              <tr ng-repeat="task in tasks" class="">
                                <td>
                                  <img src="/banner-image/{{this._id}}smallbanner.png" alt="">
                                </td>
                                
                                <td>{{this.description}}</td>
                                   <td>{{this.description1}}</td>

                                <td>
                                  <button class="btn btn-danger" ng-click="delete($index)">
                                    <a onclick="confirmDel1('{{this._id}}')">Delete</a>
                                  </button>
                                  {{!-- <button class="btn btn-success" ng-click="finished($index)">
                                    Finished
                                  </button> --}}
                                </td>
                              </tr>
                            
                            {{/each}}
                             {{#each showSmallHeader2}}
                              <tr ng-repeat="task in tasks" class="">
                                <td>
                                  <img src="/banner-image/{{this._id}}smallbanner1.png" alt="">
                                </td>
                                
                                <td>{{this.description}}</td>
                                   <td>{{this.description1}}</td>

                                <td>
                                  <button class="btn btn-danger" ng-click="delete($index)">
                                    <a onclick="confirmDel2('{{this._id}}')">Delete</a>
                                  </button>
                                  {{!-- <button class="btn btn-success" ng-click="finished($index)">
                                    Finished
                                  </button> --}}
                                </td>
                                </tr>
                            {{/each}}
                            {{#each showSmallHeader3}}
                             <tr ng-repeat="task in tasks" class="">
                                <td>
                                  <img src="/banner-image/{{this._id}}smallbanner2.png" alt="">
                                </td>
                                
                                <td>{{this.description}}</td>
                                   <td>{{this.description1}}</td>

                                <td>
                                  <button class="btn btn-danger" ng-click="delete($index)">
                                    <a onclick="confirmDel3('{{this._id}}')">Delete</a>
                                  </button>
                                  {{!-- <button class="btn btn-success" ng-click="finished($index)">
                                    Finished
                                  </button> --}}
                                </td>
                                </tr>
                            {{/each}}
                             {{#each showSmallHeader4}}
                             <tr ng-repeat="task in tasks" class="">
                                <td>
                                  <img src="/banner-image/{{this._id}}smallbanner3.png" alt="">
                                </td>
                                
                                <td>{{this.description}}</td>
                                   <td>{{this.description1}}</td>

                                <td>
                                  <button class="btn btn-danger" ng-click="delete($index)">
                                    <a onclick="confirmDel4('{{this._id}}')">Delete</a>
                                  </button>
                                  {{!-- <button class="btn btn-success" ng-click="finished($index)">
                                    Finished
                                  </button> --}}
                                </td>
                                </tr>
                            {{/each}}
                            </tbody>
                          </table>
                        </div>
                        {{!-- center-main-section -end --}}


                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
                  href="/" target="_blank">admin </a> from
                zahraf.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
                reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendors/progressbar.js/progressbar.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
     {{!-- sweetalert --}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script>
//for index
var td=document.querySelectorAll(".index")
    for(var i=0;i<td.length;i++){
   td[i].innerHTML=i+1
}



  let input = document.getElementById("inputTag");
  let imageName = document.getElementById("imageName")

  input.addEventListener("change", () => {
    let inputImage = document.querySelector("input[type=file]").files[0];

    imageName.innerText = inputImage.name;
  })



  function bannerValidate() {
    var banner = document.formBanner.banner;
    var description = document.formBanner.description;
    if (banner.value.length <= 0) {
      document.getElementById('err').innerHTML = 'Image is required'
      banner.focus();
      return false;
    }
    else if (description.value.length <= 0) {
      document.getElementById('err1').innerHTML = 'Name is required'
      description.focus();
      return false;
    } else {

      return true;
    }
  }

  //2
   function bannerValidate2() {
    var banner = document.formBanner.banner;
    var description = document.formBanner.description;
    if (banner.value.length <= 0) {
      document.getElementById('err').innerHTML = 'Image is required'
      banner.focus();
      return false;
    }
    else if (description.value.length <= 0) {
      document.getElementById('err1').innerHTML = 'Name is required'
      description.focus();
      return false;
    } else {

      return true;
    }
  }

  ///3

   function bannerValidate3() {
    var banner = document.formBanner.banner;
    var description = document.formBanner.description;
    if (banner.value.length <= 0) {
      document.getElementById('err').innerHTML = 'Image is required'
      banner.focus();
      return false;
    }
    else if (description.value.length <= 0) {
      document.getElementById('err1').innerHTML = 'Name is required'
      description.focus();
      return false;
    } else {

      return true;
    }
  }

  //4
    function bannerValidate4() {
    var banner = document.formBanner.banner;
    var description = document.formBanner.description;
    if (banner.value.length <= 0) {
      document.getElementById('err').innerHTML = 'Image is required'
      banner.focus();
      return false;
    }
    else if (description.value.length <= 0) {
      document.getElementById('err1').innerHTML = 'Name is required'
      description.focus();
      return false;
    } else {

      return true;
    }
  }

  //5
    function bannerValidate5() {
    var banner = document.formBanner.banner;
    var description = document.formBanner.description;
    if (banner.value.length <= 0) {
      document.getElementById('err').innerHTML = 'Image is required'
      banner.focus();
      return false;
    }
    else if (description.value.length <= 0) {
      document.getElementById('err1').innerHTML = 'Name is required'
      description.focus();
      return false;
    } else {

      return true;
    }
  }



   //cropper js

  function BannerCropper1() {
    console.log('hello')
    const imagebox = document.getElementById('image-box2')
    const crop_btn = document.getElementById('crop-btn2')
    var fileInput = document.getElementById('bannerInput1');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      swal("Ther is a problem!", "...File Must be Image!");
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box2').style.display = 'block'
      document.getElementById('crop-btn2').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 15 / 30,
        //preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('bannerInput1');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('Bannerpreview1').src = url
          document.getElementById('Bannerpreview1').style.display = 'block'
          document.getElementById('image-box2').style.display = 'none'
          document.getElementById('crop-btn2').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }


  //cropppper 2

    //cropper js

  function BannerCropper2() {
    console.log('hello')
    const imagebox = document.getElementById('image-box3')
    const crop_btn = document.getElementById('crop-btn3')
    var fileInput = document.getElementById('bannerInput2');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      swal("Ther is a problem!", "...File Must be Image!");
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box3').style.display = 'block'
      document.getElementById('crop-btn3').style.display = 'block'
      document.getElementById('confirm-btn2').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 30 / 19,
        //preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('bannerInput2');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('Bannerpreview2').src = url
          document.getElementById('Bannerpreview2').style.display = 'block'
          document.getElementById('image-box3').style.display = 'none'
          document.getElementById('crop-btn3').style.display = 'none'
          document.getElementById('confirm-btn2').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }


  //cropppper 3

    //cropper js

  function BannerCropper3() {
    console.log('hello')
    const imagebox = document.getElementById('image-box4')
    const crop_btn = document.getElementById('crop-btn4')
    var fileInput = document.getElementById('bannerInput3');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      swal("Ther is a problem!", "...File Must be Image!");
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box4').style.display = 'block'
      document.getElementById('crop-btn4').style.display = 'block'
      document.getElementById('confirm-btn3').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 20/ 20,
        //preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('bannerInput3');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('Bannerpreview3').src = url
          document.getElementById('Bannerpreview3').style.display = 'block'
          document.getElementById('image-box4').style.display = 'none'
          document.getElementById('crop-btn4').style.display = 'none'
          document.getElementById('confirm-btn3').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }



  //cropppper 4

    //cropper js

  function BannerCropper4() {
    console.log('hello')
    const imagebox = document.getElementById('image-box5')
    const crop_btn = document.getElementById('crop-btn5')
    var fileInput = document.getElementById('bannerInput4');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      swal("Ther is a problem!", "...File Must be Image!");
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box5').style.display = 'block'
      document.getElementById('crop-btn5').style.display = 'block'
      document.getElementById('confirm-btn4').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 35 / 30,
        //preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('bannerInput4');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('Bannerpreview4').src = url
          document.getElementById('Bannerpreview4').style.display = 'block'
          document.getElementById('image-box5').style.display = 'none'
          document.getElementById('crop-btn5').style.display = 'none'
          document.getElementById('confirm-btn4').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }

  function confirmDel1(bannerId) {

  const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
 $.ajax({
          url: '/admin/smallBanner-delete',
          method: "post",
          data: {smallbannerId:bannerId },
          success: (response) => {
            if (response) {
            
    swalWithBootstrapButtons.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
    location.reload()
            }
          }
        })

  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'Your imaginary file is safe :)',
      'error'
    )
  }
})
 }


 function confirmDel2(bannerId) {

  const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
 $.ajax({
          url: '/admin/smallBanner-delete',
          method: "post",
          data: {smallbannerId:bannerId },
          success: (response) => {
            if (response) {
            
    swalWithBootstrapButtons.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
    location.reload()
            }
          }
        })

  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'Your imaginary file is safe :)',
      'error'
    )
  }
})
 }

 function confirmDel3(bannerId) {

  const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
 $.ajax({
          url: '/admin/smallBanner-delete3',
          method: "post",
          data: {smallbannerId:bannerId },
          success: (response) => {
            if (response) {
            
    swalWithBootstrapButtons.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
    location.reload()
            }
          }
        })

  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'Your imaginary file is safe :)',
      'error'
    )
  }
})
 }


  function confirmDel4(bannerId) {

  const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
 $.ajax({
          url: '/admin/smallBanner-delete4',
          method: "post",
          data: {smallbannerId:bannerId },
          success: (response) => {
            if (response) {
            
    swalWithBootstrapButtons.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
    location.reload()
            }
          }
        })

  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'Your imaginary file is safe :)',
      'error'
    )
  }
})
 }
</script>
<script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>