{{!-- pagination link --}}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

{{!-- new table --}}
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-12">
<table class="table table-striped display" id="mytableID" data-toggle="table" 
       data-classes="table table-hover table-condensed"
       data-row-style="rowStyle"
       data-striped="true"
       data-sort-name="Quality"
       data-sort-order="desc"
       data-pagination="true"> 
	<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Product</th>
			<th scope="col">Order Date</th>
			<th scope="col">Address</th>
			{{!-- <th scope="col">Total</th> --}}
			<th scope="col">Status</th>
			{{!-- <th scope="col"></th> --}}
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody id="table">
	{{#each orders}}
		<tr id="tr-id-2" class="tr-class-2">

			<td scope="row" class="index">{{@index}}</td>
			<td><img width="150" height="auto" src="https://zahraf.s3.amazonaws.com/{{this.product.items}}image.png" alt="Product">
				<p style="font-weight: bold; color: #2ae823;">
					{{this.productItem.name}}<br>{{this.productItem.category}}</p>
			</td>


			<td>{{this.date}}</td>
			<td>{{this.delivaryDetails.FirstName}}</br>{{this.delivaryDetails.address}}</td>
			{{!-- <td>{{this.subTotal}}</td> --}}
			<td>{{this.product.productStatus}}</td>

			{{!-- <td><span class="status text-success">&bull;</span> {{this.total}}</td> --}}

			<td>
				{{#if this.product.Cancel}}
				<a class="text-danger">{{../product.productStatus}}</a>
				<a onclick="viweorder('{{this._id}}','{{this.product.items}}')" class="btn btn-success">view Details</a>

				{{else}}
				<a onclick="cancelOrder('{{this._id}}','{{this.productItem._id}}')" class="btn btn-success">Cancel</a>
				<a onclick="viweorder('{{this._id}}','{{this.product.items}}')" class="btn btn-success">view Details</a>

				{{/if}}
			</td>

		</tr>
	{{/each}}
	</tbody>
</table>
</div>
</div>
</div>

<script>

	//Pagination
	function queryParams() {
    return {
        type: 'owner',
        sort: 'updated',
        direction: 'desc',
        per_page: 100,
        page: 1
    };
}
function rowStyle(row, index) {
    var classes = ['active', 'success', 'info', 'warning', 'danger'];
    
    if (index % 2 === 0 && index / 2 < classes.length) {
        return {
            classes: classes[index / 2]
        };
    }
    return {};
}
	//index
	var td = document.querySelectorAll(".index")
	console.log("td.length******", td.length)
	for (var i = 0; i < td.length; i++) {
		td[i].innerHTML = i + 1
	}
 
 function cancelOrder(orderId,orderProId){
	 console.log("cancel Order")
	 let cancel=confirm('are you sure to cancel');
	 if(cancel){
	 $.ajax({
		 url:'/cancelProOrder',
		 data:{orderId,orderProId},
		 method:'post',
		 success:(respnse)=>{
			 alert('order canceled');
			

		 }

	 })
	 }
	 location.reload()
 }

 function viweorder(orderId,orderProId){
	  $.ajax({
		 url:'/viewProOrder',
		 data:{orderId,orderProId},
		 method:'post',
		 success:(respnse)=>{
		location.href='/viewProOrder'

		 }

	 })
 }
 
 </script>
