
	<!--slider-area start-->
	<div class="slider-area">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="main-slider">
									{{#each banner}}
						<div class="slider-single bg-5" style="background-image: url(https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}banner.png);">
							<div class="d-table">
								<div class="slider-caption text-center">
									<h4>seson sale!</h4>
									<h2 class="cssanimation leDoorCloseLeft sequence">{{this.description}}</h2>
									<a href="#" class="btn-common mt-43">shop now</a>
								</div>
							</div>
						</div>
						<div class="slider-single bg-7" style="background-image: url(https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}banner.png);">
							<div class="d-table">
								<div class="slider-caption text-center">
									<h4>seson sale!</h4>
									<h2 class="cssanimation leDoorCloseLeft sequence">head Phones 30% Off</h2>
									<a href="#" class="btn-common mt-43">shop now</a>
								</div>
							</div>
						</div>
									{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--slider-area end-->
	
	<!--banner-area start-->
	<div class="banner-area mt-30">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-sm-6 hover-effect">
					<div class="banner-square">
						{{#each firstsmallbanner}}
						<a href="#"><img src="https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}smallbanner.png" alt="" /></a>
						<div class="banner-caption">
							<h2>{{this.description}}</h2>
							<h3>{{this.description1}}</h3>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 d-none d-lg-block">
					<div class="banner-square hover-effect">
						{{#each secondsmallbanner}}
						<img src="https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}smallbanner1.png" alt="" />
						<div class="banner-caption style-2 pt-20">
							<h2><strong>{{this.description}}</strong>{{this.description1}} </h2>
						</div>
						{{/each}}
					</div>
					<div class="banner-square hover-effect mt-30">
						{{#each thirdsmallbanner}}
						<img src="https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}smallbanner2.png" alt="" />
						<div class="banner-caption style-2">
							<h2><strong>{{this.description}}</strong> {{this.description1}}</h2>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 mt-sm-20">
					<div class="banner-square hover-effect">
						{{#each fourthsmallbanner}}
						<img src="https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}smallbanner3.png" alt="" />
						<div class="banner-caption">
							<h2>{{this.description}}</h2>
							<h3>{{this.description1}}</h3>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--banner-area end-->
	
	<!--products-area start-->
	<div class="products-area mt-55">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h2>New Arrivals</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--products-tab-->
					<div class="products-tab">
						<div class="product-nav-tabs style-2 text-center">
							<ul class="nav nav-tabs">
								<li><a class="active" data-toggle="tab" href="#all-products">all products</a></li>
								<li><a data-toggle="tab" href="#men">mobile’s</a></li>
								<li><a data-toggle="tab" href="#women">lape’s</a></li>
								<li><a data-toggle="tab" href="#kid">headphone’s</a></li>
								<li><a data-toggle="tab" href="#accessories">accessories</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div id="all-products" class="tab-pane fade in show active">
								<div class="row four-items cv-visible">
									{{#each product}}
									<div class="col-lg-3">
										<!--single-product-->
										<div class="product-single">
											<div class="product-title">
												<small><a href="#">Manaco</a></small>
												<h4><a href="#">{{this.name}}</a></h4>
											</div>
											<div class="product-thumb">
												<a href="#"><img src="https://zahraf.s3.ap-south-1.amazonaws.com/{{this._id}}image.png" alt="" /></a>
												<div class="product-quick-view">
													<a href="/productDetails/?id={{this._id}}" data-target="#quick-view">quick view</a>
												</div>
											</div>
											<div class="product-price-rating">
												{{#if offer}}
												<del>₹{{this.OldPrice}}</del>
												<span>₹{{this.price}}</span>
												{{else}}
												<span>₹{{this.price}}</span>
												{{/if}}

											</div>
											<div class="product-action">
												{{!-- <a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a> --}}
												<a onclick="addToCart('{{this._id}}')" class="add-to-cart">Add to Cart</a>
												<a onclick="addToWishlist('{{this._id}}')" class="product-wishlist"><i class="ti-heart"></i></a>
											</div>
										</div>
										  
									</div>
									{{/each}}
									
								</div>
							</div>
							
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--products-area end-->
	
	<!--store-supports-area start-->
	<div class="store-supports-area bg-lightblue pd-20 mt-30 mt-sm-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="store-support style-3">
						<div class="support-icon">
							<img src="/assets/images/icons/bank-loan.png" alt="" />
						</div>
						<div class="support-text">
							<strong>Free Delivery</strong>
							<p>For all order over 99₹</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="store-support style-3">
						<div class="support-icon">
							<img src="/assets/images/icons/bank-liquidity.png" alt="" />
						</div>
						<div class="support-text">
							<strong>30 Days Return</strong>
							<p>If goods have Problems</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="store-support style-3">
						<div class="support-icon">
							<img src="/assets/images/icons/bank-credit-card.png" alt="" />
						</div>
						<div class="support-text">
							<strong>Secure Payment</strong>
							<p>100% secure payment</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="store-support style-3">
						<div class="support-icon">
							<img src="/assets/images/icons/bank-support.png" alt="" />
						</div>
						<div class="support-text">
							<strong>24/7 Support</strong>
							<p>Dedicated support</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--store-supports-area end-->
	

	
	<!--product-offer-area start-->
	{{!-- <div class="product-offer-area mt-30 mt-sm-50">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<div class="product-offer-left">
						<img src="/assets/images/offers/1.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="text-block text-center">
						<h3>Shop Events & Save Up To 65% OFF!</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <br/> aliquip ex ea commodo consequat.</p>
						<div class="product-countdown style-2 mt-30">
							<div data-countdown="2019/05/01"></div>
						</div>
						<a href="#" class="btn-common mt-50">Shop now</a>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<!--product-offer-area end-->
	
	<!--brands-area start-->
	<div class="container-fluid">
		<div class="brands-area br-none">
			<div class="row">
				<div class="col-lg-12">
					<div class="brand-items">
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/1.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/2.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/3.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/4.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/5.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/6.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/7.jpg" alt="" />
							</a>
						</div>
						<div class="brand-item">
							<a href="#">
								<img class="brand-static" src="/assets/images/brands/8.jpg" alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--brands-area end-->
	
	

	<!-- modernizr js -->
	<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<!-- jquery-3.3.1 version -->
	<script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
	<!-- bootstra.min js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- mmenu js -->
	<script src="/assets/js/jquery.mmenu.js"></script>
	<!-- easing js -->
	<script src="/assets/js/jquery.easing.min.js"></script>
	<!---slick-js-->
	<script src="/assets/js/slick.min.js"></script>
	<!---letteranimation-js-->
	<script src="/assets/js/letteranimation.min.js"></script>
	<!-- jquery-ui js -->
	<script src="/assets/js/jquery-ui.min.js"></script>
	<!-- jquery.countdown js -->
	<script src="/assets/js/jquery.countdown.min.js"></script>
	<!-- venobox js -->
	<script src="/assets/js/venobox.min.js"></script>
	<!-- plugins js -->
	<script src="/assets/js/plugins.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>
	
	<!-- Modal -->
	{{!-- <div class="modal fade" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="tab-content">
								<div id="product-1" class="tab-pane fade in show active">
									<div class="product-details-thumb">
										<img src="/assets/images/products/product-details/1.jpg" alt="" />
									</div>
								</div>
								<div id="product-2" class="tab-pane fade">
									<div class="product-details-thumb">
										<img src="/assets/images/products/product-details/2.jpg" alt="" />
									</div>
								</div>
								<div id="product-3" class="tab-pane fade">
									<div class="product-details-thumb">
										<img src="/assets/images/products/product-details/3.jpg" alt="" />
									</div>
								</div>
							</div>
							<ul class="nav nav-tabs products-nav-tabs horizontal quick-view mt-10">
								<li><a class="active" data-toggle="tab" href="#product-1"><img src="/assets/images/products/product-details/thumb-1.jpg" alt="" /></a></li>
								<li><a data-toggle="tab" href="#product-2"><img src="/assets/images/products/product-details/thumb-2.jpg" alt="" /></a></li>
								<li><a data-toggle="tab" href="#product-3"><img src="/assets/images/products/product-details/thumb-3.jpg" alt="" /></a></li>
							</ul>
						</div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-8">
									<div class="product-details-desc">
										<h2>{{productResponse.name}}</h2>
										<ul>
											<li>{{productResponse.name}}</li>
											<li>13.3-Inch (diagonal) LED-backlit Glossy Widescreen Display, 1440 x 900 resolution Intel HD Graphics 6000</li>
											<li>OS X El Capitan, Up to 12 Hours of Battery Life Macbook Air does not have a Retina display on any model.</li>
										</ul>
										<div class="product-meta">
											<ul class="list-none">
												<li>SKU: 00012 <span>|</span></li>
												<li>Categories:
													<a href="#">Tech</a>
													<a href="#">Macbook</a>
													<a href="#">Laptop</a>
													<span>|</span>
												</li>
												<li>Tags:
													<a href="#">Tech,</a>
													<a href="#">Apple</a>
												</li>
											</ul>
										</div>
										<div class="social-icons style-5">
											<span>Share Link:</span>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product-action stuck text-left">
										<div class="free-delivery">
											<a href="#"><i class="ti-truck"></i> Free Delivery</a>
										</div>
										<div class="product-price-rating">
											<div>
												<del>629.99</del>
											</div>
											<span>{{productResponse.price}}</span>
											<div class="pull-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<div class="product-colors mt-20">
											<label>Select Color:</label>
											<ul class="list-none">
												<li>Red</li>
												<li>Black</li>
												<li>Blue</li>
											</ul>
											
										</div>
										<div class="product-quantity mt-15">
											<label>Quatity:</label>
											<input type="number" value="1" />
										</div>
										<div class="add-to-get mt-50">
											<a href="#" class="add-to-cart">Add to Cart</a>
											<a href="#" class="add-to-cart compare">+ ADD to Compare</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
 